<button (click)="sortBy('name')">Sort By Title</button>
<button (click)="sortBy('id')">Sort By ID</button>

<div>
  <div>Filter by:</div>
  <div>
    <input type='text' [(ngModel)]='term' />
  </div>
</div>

<h1>VHS List:</h1>
<div class="table">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Director</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of (movies | free | sort: sortType | filter: term)">
        <td id="id">{{ movie.id }}</td>
        <td id="name">{{ movie.name }}</td>
        <td id="about">{{ movie.director }}</td>
        <td id="date">{{ movie.date }}</td>
        <td id="options">
          <button type="button" class="buttonModal" (click)="onSelect(movie)" data-toggle="modal" data-target="#detailsModal">Details</button>
          <button type="button" class="buttonModal" (click)="onSelect(movie)" data-toggle="modal" data-target="#editModal">Edit</button>
          <button type="button" class="buttonModal" (click)="rent(movie)" data-toggle="modal" data-target="#rentModal">Rent</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- rentModal -->
<div id="rentModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ name }}</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- detailsModal -->
<div id="detailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{selectedMovie.name}}</h4>
      </div>
      <div class="modal-body">
        <p>Id: {{selectedMovie.id}}</p>
        <p>Director: {{selectedMovie.director}}</p>
        <p>Date: {{selectedMovie.date}}</p>
        <p><img src={{selectedMovie.cover}} style="width:300px;height:400px;"></p>
      </div>
    </div>
  </div>
</div>

<!-- editModal -->
<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">cos</h4>
      </div>
      <div class="modal-body">
        <!--<div class="form-group">
          <label for="selectedMovie.name">Tittle</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="selectedMovie.name" name="name"> Written text: {{selectedMovie.name}}
        </div>-->
        <!--<div class="form-group">
          <label for="cover">Url</label>
          <input type="text" class="form-control" id="cover" [(ngModel)]="selectedMovie.cover" name="cover"> Written text:
          {{selectedMovie.cover}}
        </div>
   <div class="form-group">
          <label for="personName">personName</label>
          <input type="text" class="form-control" id="personName" [(ngModel)]="selectedMovie.personName" name="personName"> Written text: {{selectedMovie.personName}}-->
        <!--</div>-->

        <!--<div *ngIf="selectedMovie">
          <div>
            <label>id: </label>{{selectedMovie.id}}</div>
          <div>
            <label>name: </label>
            <input [(ngModel)]="selectedMovie.name" placeholder="name" />
          </div>
          <div>
            <label>Borrower name: </label>
            <input [(ngModel)]="selectedMovie.personName" placeholder="personName" />
          </div>-->
      </div>
    </div>
  </div>
</div>


<div>
  <div>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addModal">Add movie</button>
    <div id="addModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <h1>Add new movie</h1>
            <form (ngSubmit)="onSubmit()" #movieForm="ngForm">
              <div class="form-group">
                <label for="name">Movie title</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                  Title is required
                </div>
              </div>
              <div class="form-group">
                <label for="director">Movie director</label>
                <input type="text" class="form-control" id="director" required [(ngModel)]="model.director" name="director" #director="ngModel">
                <div [hidden]="director.valid || director.pristine" class="alert alert-danger">
                  Director is required
                </div>
              </div>
              <div class="form-group">
                <label for="date">Movie date</label>
                <input type="text" class="form-control" id="date" required [(ngModel)]="model.date" name="date" #date="ngModel">
                <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
                  Date is required
                </div>
              </div>
              <div class="form-group">
                <div class="form-group">
                  <label for="cover">Movie cover</label>
                  <input type="text" class="form-control" id="cover" [(ngModel)]="model.cover" name="cover">
                </div>
                <label for="personName">Movie personName</label>
                <input type="text" class="form-control" id="personName" [(ngModel)]="model.personName" name="personName">
              </div>
              <div class="form-group">
                <label for="personSurname">Movie personSurname</label>
                <input type="text" class="form-control" id="personSurname" [(ngModel)]="model.personSurname" name="personSurname">
              </div>
              <div class="form-group">
                <label for="dateOfRent">Movie dateOfRent</label>
                <input type="text" class="form-control" id="dateOfRent" [(ngModel)]="model.dateOfRent" name="dateOfRent">
              </div>
              <button type="submit" class="btn btn-success" [disabled]="!movieForm.form.valid">Add Movie</button>
              <button type="button" class="btn btn-default" (click)="newMovie(); movieForm.reset()">Clear Form</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>